In [ ]:
#$ module load anaconda3/2.5.0
#$ source activate R
#$ R
#  >install.packages("devtools")
#  >install_github("hadley/tibble")
#  >install_github("plotly")

In [ ]:
library(plotly)

In [13]:
set.seed(123)

x <- rnorm(1000)
y <- rchisq(1000, df = 1, ncp = 0)
group <- sample(LETTERS[1:5], size = 1000, replace = T)
size <- sample(1:5, size = 1000, replace = T)

ds <- data.frame(x, y, group, size)

p <- plot_ly(ds, x = x, y = y, mode = "markers", split = group, size = size) %>%
  layout(title = "Scatter Plot")
embed_notebook(p)

No trace type specified:
  Based on info supplied, a 'scatter' trace seems appropriate.
  Read more about this trace type -> https://plot.ly/r/reference/#scatter

In [4]:
library(PerformanceAnalytics)

Loading required package: xts
Loading required package: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric


Attaching package: ‘PerformanceAnalytics’

The following object is masked from ‘package:graphics’:

    legend

In [9]:
#Load data
data(managers)

# Convert to data.frame
managers.df <- as.data.frame(managers)
managers.df$Dates <- index(managers)

# See first few rows
head(managers.df)

              HAM1 HAM2    HAM3    HAM4 HAM5 HAM6 EDHEC LS EQ SP500 TR
1996-01-31  0.0074   NA  0.0349  0.0222   NA   NA          NA   0.0340
1996-02-29  0.0193   NA  0.0351  0.0195   NA   NA          NA   0.0093
1996-03-31  0.0155   NA  0.0258 -0.0098   NA   NA          NA   0.0096
1996-04-30 -0.0091   NA  0.0449  0.0236   NA   NA          NA   0.0147
1996-05-31  0.0076   NA  0.0353  0.0028   NA   NA          NA   0.0258
1996-06-30 -0.0039   NA -0.0303 -0.0019   NA   NA          NA   0.0038
           US 10Y TR US 3m TR      Dates
1996-01-31   0.00380  0.00456 1996-01-31
1996-02-29  -0.03532  0.00398 1996-02-29
1996-03-31  -0.01057  0.00371 1996-03-31
1996-04-30  -0.01739  0.00428 1996-04-30
1996-05-31  -0.00543  0.00443 1996-05-31
1996-06-30   0.01507  0.00412 1996-06-30

In [10]:
summary(managers.df)

      HAM1                HAM2               HAM3                HAM4
 Min.   :-0.094400   Min.   :-0.03710   Min.   :-0.071800   Min.   :-0.17590
 1st Qu.:-0.000025   1st Qu.:-0.00980   1st Qu.:-0.005375   1st Qu.:-0.01985
 Median : 0.011150   Median : 0.00820   Median : 0.010200   Median : 0.01375
 Mean   : 0.011123   Mean   : 0.01414   Mean   : 0.012447   Mean   : 0.01102
 3rd Qu.: 0.024850   3rd Qu.: 0.02520   3rd Qu.: 0.031375   3rd Qu.: 0.04600
 Max.   : 0.069200   Max.   : 0.15560   Max.   : 0.179600   Max.   : 0.15080
                     NA's   :7
      HAM5               HAM6           EDHEC LS EQ           SP500 TR
 Min.   :-0.13200   Min.   :-0.04040   Min.   :-0.055200   Min.   :-0.144600
 1st Qu.:-0.01640   1st Qu.:-0.00158   1st Qu.:-0.003175   1st Qu.:-0.017327
 Median : 0.00380   Median : 0.01285   Median : 0.011000   Median : 0.010950
 Mean   : 0.00409   Mean   : 0.01105   Mean   : 0.009545   Mean   : 0.008665
 3rd Qu.: 0.03090   3rd Qu.: 0.02548   3rd Qu.: 0.021450   3rd Qu.: 0.038025
 Max.   : 0.17470   Max.   : 0.05830   Max.   : 0.074500   Max.   : 0.097800
 NA's   :55         NA's   :68         NA's   :12
   US 10Y TR            US 3m TR            Dates
 Min.   :-0.070920   Min.   :0.000660   Min.   :1996-01-31
 1st Qu.:-0.008515   1st Qu.:0.001570   1st Qu.:1998-10-23
 Median : 0.004425   Median :0.003845   Median :2001-07-15
 Mean   : 0.004385   Mean   :0.003226   Mean   :2001-07-15
 3rd Qu.: 0.016660   3rd Qu.:0.004395   3rd Qu.:2004-04-07
 Max.   : 0.050550   Max.   :0.006580   Max.   :2006-12-31

In [12]:
# Plot
p4 <- plot_ly(managers.df, x = managers.df$Dates, y = managers.df$HAM1, type = "scatter", mode = "lines", name = "Manager 1", fill = "tonexty") %>%
  layout(title = "Time Series plot")
embed_notebook(p4)

In [6]:
library(mlbench)

In [7]:
# Get Sonar data
data(Sonar)

# Use only numeric data
rock <- as.matrix(subset(Sonar, Class == "R")[,1:59])
mine <- as.matrix(subset(Sonar, Class == "M")[,1:59])

# For rocks
p1 <- plot_ly(z = rock, type = "heatmap", showscale = F)

# For mines
p2 <- plot_ly(z = mine, type = "heatmap", name = "test") %>%
  layout(title = "Mine vs Rock")

# Plot together
p3 <- subplot(p1, p2)
embed_notebook(p3)